# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      gha-deps:
        patterns:
          - "*"
    schedule:
      interval: "monthly"

  - package-ecosystem: "npm"
    directory: "/"
    groups:
      npm-deps:
        patterns:
          - "*"
        ignore:
    ignore:
      # SJ (2026-01-12): The next update is React 19.x. It has a lot of audit patches and broke our markdown parsing. Ignore until Docu 4.x
      - dependency-name: "react"
      - dependency-name: "react-dom"
    schedule:
      interval: "weekly"
