---
title: {{ name }}
description: |
    {{{short_documentation}}}
id: {{ name }}
slug: {{ name }}
---

import BuildFileSymbol from "@site/src/components/reference/BuildFileSymbol"

<BuildFileSymbol name={`{{{ name }}}`} signature={`{{{ signature }}}`}>

{{{ documentation }}}

</BuildFileSymbol>
