---
title: {{#scope}}{{scope}}{{/scope}}{{^scope}}Global options{{/scope}}
description: |
    {{{short_description}}}
---

import Option from "@site/src/components/reference/Option";
import styles from "@site/src/components/reference/styles.module.css";

---
{{#is_goal}}

```
pants {{scope}} [args]
```
{{/is_goal}}

{{{description}}}

Backend: <span className="color--primary">`{{provider}}`</span>

Config section: <span className="color--primary">`[{{scope}}{{^scope}}GLOBAL{{/scope}}]`</span>

<span className={styles.options}>

## Basic options
{{#basic}}
{{> option}}
{{/basic}}
{{^basic}}

None
{{/basic}}

## Advanced options
{{#advanced}}
{{> option}}
{{/advanced}}
{{^advanced}}

None
{{/advanced}}

## Deprecated options
{{#deprecated}}
{{> option}}
{{/deprecated}}
{{^deprecated}}

None
{{/deprecated}}

## Related subsystems

{{#related_subsystems}}
{{#is_goal}}
- [{{scope}}](../goals/{{scope}}.mdx)
{{/is_goal}}
{{^is_goal}}
- [{{scope}}](../subsystems/{{scope}}.mdx)
{{/is_goal}}
{{/related_subsystems}}
{{^related_subsystems}}
None
{{/related_subsystems}}

</span>
