---
title: {{ alias }}
# The old-style `code...code` anchors are heading level 6, and shouldn't be visible in ToC
toc_max_heading_level: 5
---

import Field from "@site/src/components/reference/Field";
import styles from "@site/src/components/reference/styles.module.css";

---

{{{ description }}}

Backend: <span className="color--primary">`{{ provider }}`</span>

---

<span className={styles.options}>

{{#fields}}
{{> field}}
{{/fields}}

</span>
