---
title: {{ alias }}
description: |
    {{{short_description}}}
---

import Field from "@site/src/components/reference/Field";
import styles from "@site/src/components/reference/styles.module.css";

---

{{{ description }}}

Backend: <span className="color--primary">`{{ provider }}`</span>

---

<span className={styles.options}>

{{#fields}}
{{> field}}
{{/fields}}

</span>
