name: PR CI

on:
  pull_request:
    branches: [main]

env:
  NODE_VERSION: 24.x

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Cache Docusaurus Build
        uses: actions/cache@v5
        with:
          path: node_modules/.cache
          key: docusaurus-${{ github.ref_name }}-${{ github.run_id }}
          restore-keys: |
            docusaurus-${{ github.ref_name }}
            docusaurus-main

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check formatting
        run: pnpm check-formatting

      - name: Compare synced & autogenerated docs
        run: |
          scripts/ci-sensible-sync-and-autogen-changes.sh "${{ contains(github.event.pull_request.labels.*.name , 'automation:sync-docs') }}"

      - name: Build
        run: pnpm build

      # As an interim step in lieu of https://github.com/pantsbuild/pantsbuild.org/issues/28, upload
      # the build result so someone can download and view it, without having to run the build
      # themselves.  (The explicit zip step is workaround for
      # https://github.com/actions/upload-artifact/issues/333 )
      - name: Zip build
        run: zip -r site-build.zip build/

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: "site-build"
          path: site-build.zip
