name: PR CI

on:
  pull_request:
    branches: [main]

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Get yarn cache
        id: yarn-cache
        run: echo "YARN_CACHE_DIR=$(yarn cache dir)" >> "${GITHUB_OUTPUT}"
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-website-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-website-
      - name: Cache Docusaurus Build
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/webpack
          key: docusaurus-${{ github.ref_name }}-${{ github.run_id }}
          restore-keys: |
            docusaurus-${{ github.ref_name }}
            docusaurus-main

      - run: yarn install --frozen-lockfile
      - name: Check formatting
        run: npm run check-formatting

      - name: Compare synced & autogenerated docs
        run: |
          scripts/ci-sensible-sync-and-autogen-changes.sh "${{ contains(github.event.pull_request.labels.*.name , 'automation:sync-docs') }}"

      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max-old-space-size=12288

      # As an interim step in lieu of https://github.com/pantsbuild/pantsbuild.org/issues/28, upload
      # the build result so someone can download and view it, without having to run the build
      # themselves.  (The explicit zip step is workaround for
      # https://github.com/actions/upload-artifact/issues/333 )
      - name: Zip build
        run: zip -r site-build.zip build/

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: "site-build"
          path: site-build.zip
